
QDialog#SettingDlg {
    background-color: #ffffff;
    border: 0px;
    margin: 0px;
    padding: 0px;
    color: #161515;
}

QLabel {
    background-color: transparent;
    color: black;
}

QLabel#titleLabel {
    width: 32px;
    min-height: 20px;
    font-size: 16px;
    color: #333333;
    font-weight: 400;
}

QPushButton {
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
}

QPushButton#hotkeyStatus {
    background-color: #ffffff;
}

QPushButton#closeButton {
    width: 10px;
    height: 10px;
    
    background-image: url(:/images/close_button.png);
}

QPushButton#settingSaveBtn {
    width: 144.9px;
    height: 30px;
    background: #AD86E1;
    border-radius: 4px;
    color: #FFFFFF;
}
QPushButton#settingSaveBtn:hover {
    background-color: rgb(136, 79, 212);
}
QPushButton#settingSaveBtn:pressed {
    background-color: rgb(136, 79, 212);
    border: 2px solid rgb(73, 67, 215);
    border-radius: 4px;
}

QPushButton#hotkeyValue {
    width: 210px;
    height: 30px;
    border: 1px solid rgba(159,113,220,1);
    border-radius: 4px;
    padding-left: 20px;
    text-align: left;
}

QPushButton.setting-check {
    width: 156px;
    height: 12px;
    font-size: 12px;
    color: #FF9090;
    text-align: left;
    padding-left: 3px;
    font-weight: 400;
}

QPushButton.setting-check:checked {
    width: 156px;
    height: 12px;
    font-size: 12px;
    color: #FF9090;
    text-align: left;
    padding-left: 3px;
    font-weight: 400;
}
