QWidget[class='bar']{
    background-color:rgba(255,255,255,100%);
    border:0px solid rgba(255,255,255,100%);
    border-radius:4px;
}


QFrame#vSplit {
    margin-top:5px;
    margin-bottom:5px;
    padding:0px;
    color:rgba(0,0,0,10%);
}

QFrame#vSplit2 {
    margin:2px;
    padding:0px;
    color:rgba(0,0,0,10%);
}

QCheckBox {
    color:#333333;
}

PenCombobox{
    color:#333333;
    min-height:23px;
    border:0px solid #808080;
    border-radius:2;
    margin:0px;
    padding:0px;
    background-color:rgba(255,255,255,60%);
}

PenCombobox::menu-indicator{
    margin-right:5px;
    subcontrol-position: right center;
    image:url(:/images/dropdown.png);
}

SizeInputWidget {
    border:0px solid rgba(51,51,51,77);
    border-radius:2;
    background-color:rgba(255,255,255,60%);
}

QSpinBox {
    color:#333333;
    font-size:12px;
    height:23px;
    border-left:1px solid rgba(0,0,0,10%);
    border-radius:0;
    background-color:rgba(255,255,255,0%);
}

QSpinBox::up-button
{
    border-left:1px solid rgba(0,0,0,10%);
    padding-left:2px;
    padding-right:3px;
    subcontrol-origin:border;
    subcontrol-position:top right;
    image: none;
    width: 12px;
    background-color:rgba(255,255,255,60%);
}
QSpinBox::down-button
{
    border-left:1px solid rgba(0,0,0,10%);
    padding-left:2px;
    padding-right:3px;
    subcontrol-origin:border;
    subcontrol-position:bottom right;
    image: none;
    width: 12px;
    background-color:rgba(255,255,255,60%);
}

QSpinBox::up-arrow
{
    image:url(:/images/up-arrow.png);
    width:14px;
}

QSpinBox::down-arrow
{
    image:url(:/images/down-arrow.png);
    width:14px;
}


QComboBox{
    color:#333333;
    font-size:12px;
    min-height:23px;
    border:1px solid rgba(51,51,51,77);
    border-radius:2;
}

QComboBox::drop-down{

    border:1px solid #ffffff;
    background-color: #ffffff;
    margin-right:5px;
    subcontrol-position: right center;
    image:url(:/images/dropdown.png);
    width:16px;
}

QComboBox QScrollBar::vertical{
    width:10px;
}

QComboBox QScrollBar::handle::vertical{
    width:10px;
    border-radius:5px;
}

QComboBox QAbstractItemView
{
    selection-background-color:rgba(0,125,255);
}

QComboBox QListWidget::item:selected{background:rgba(0,125,255); }

QPushButton[forTip='mainBtn'] {
    font-family:XuanSnapIcon;
    color:#333333;
    font-size:16px;  /*15px*/
    font-weight:500;
    background-color:transparent;
    margin:0px;
    padding:0px;
    height:23px;
    width:22px;
}

QPushButton[forTip='mainBtn']:hover{
    color:#007AFF;
}

QPushButton[forTip='mainBtn']:pressed
    background-color:#007AFF;
}

QPushButton[forTip='mainBtn']:checked{
    color:#007AFF;
}

QPushButton[forTip='mainBtn']:disabled{
    color:rgba(51,51,51,25%);
}

SizeButton[forTip='thickness'] {
    color:#2f3343;
    font-size:22px;
    background-color:transparent;
    border:1px solid transparent;
    margin:0px;
    padding:0px;
    height:26px;
    width:26px;
}

SizeButton[forTip='thickness']:hover{
    color:#2f3343;
    background-color:#dee1e8;
    border:1px solid #9d9fa0;
}

SizeButton[forTip='thickness']:pressed{
    color:#2f3343;
    background-color:#dee1e8;
    border:1px solid #9d9fa0;
}

SizeButton[forTip='thickness']:checked{
    color:#2f3343;
    background-color:#dee1e8;
    border:1px solid #9d9fa0;
}

QPushButton#cancelBtn {
    color:#F2453D;
}

/*QPushButton#saveBtn {
    color:#1fb41e;
}*/





