QWidget[class='bar']{
    background-color:"#e0e0e0";
    border:1px solid "#e0e0e0";
}


QFrame#vSplit {
    margin-top:5px;
    margin-bottom:5px;
    padding:0px;
    color:"#c0c0c0";
}

QFrame#vSplit2 {
    margin:2px;
    padding:0px;
    color:"#c0c0c0";
}

QCheckBox {
    color:#333333;
}

PenCombobox{
    min-height:24px;
    border:1px solid #808080;
    border-radius:2;
    margin:0px;
    padding:0px;
    background-color:#ffffff;
}

PenCombobox::menu-indicator{
    margin-right:5px;
    subcontrol-position: right center;
    image:url(:/images/dropdown.png);
}

SizeInputWidget {
    border:1px solid rgba(51,51,51,77);
    border-radius:2;
    background-color:rgba(255,255,255,192);
}

QSpinBox {
    font-size:14px;
    height:24px;
    border-left:1px solid rgba(51,51,51,77);
    border-radius:0;
    background-color:rgba(255,255,255,192);
}

QSpinBox::up-button
{
    border-left:1px solid rgba(51,51,51,77);
    padding-left:2px;
    padding-right:3px;
    subcontrol-origin:border;
    subcontrol-position:top right;
    image: none;
    width: 12px;
    background-color:rgba(255,255,255,192);
}
QSpinBox::down-button
{
    border-left:1px solid rgba(51,51,51,77);
    padding-left:2px;
    padding-right:3px;
    subcontrol-origin:border;
    subcontrol-position:bottom right;
    image: none;
    width: 12px;
    background-color:rgba(255,255,255,192);
}

QSpinBox::up-arrow
{
    image:url(:/images/up-arrow.png);
    width:14px;
}

QSpinBox::down-arrow
{
    image:url(:/images/down-arrow.png);
    width:14px;
}


QComboBox{
    min-height:24px;
    border:1px solid rgba(51,51,51,77);
    border-radius:2;
    font-size:14px;
}

QComboBox::drop-down{

    border:1px solid #ffffff;
    background-color: #ffffff;
    margin-right:5px;
    subcontrol-position: right center;
    image:url(:/images/dropdown.png);
    width:16px;
}

QComboBox QScrollBar::vertical{
    width:10px;
}

QComboBox QScrollBar::handle::vertical{
    width:10px;
    border-radius:5px;
}

QComboBox QAbstractItemView
{
    selection-background-color:rgba(0,125,255);
}

QComboBox QListWidget::item:selected{background:rgba(0,125,255); }

QPushButton[forTip='mainBtn'] {
    font-family:XuanSnapIcon;
    color:"#4a4a4a";
    font-size:18px;  /*22px*/
    font-weight:500;
    background-color:transparent;
    border:1px solid transparent;
    border-radius:2px;
    margin:0px;
    padding:0px;
    height:26px;  /*32px*/
    width:26px;   /*32px*/
}

QPushButton[forTip='mainBtn']:hover{
    color:"#ffffff";
    background-color:"#007aff";
    border:0px solid "#9d9fa0";
}

QPushButton[forTip='mainBtn']:pressed
    color:"#ffffff";
    background-color:"#007aff";
    border:0px solid "#9d9fa0";
}

QPushButton[forTip='mainBtn']:checked{
    color:"#ffffff";
    background-color:"#007aff";
    border:0px solid "#9d9fa0";
}

QPushButton[forTip='mainBtn']:disabled{
    color:"#b1b2b5";
    background-color:"transparent;
    border:1px solid "transparent";
}

SizeButton[forTip='thickness'] {
    color:"#2f3343";
    font-size:22px;
    background-color:transparent;
    border:1px solid transparent;
    margin:0px;
    padding:0px;
    height:26px;
    width:26px;
}

SizeButton[forTip='thickness']:hover{
    color:"#2f3343";
    background-color:"#dee1e8";
    border:1px solid "#9d9fa0";
}

SizeButton[forTip='thickness']:pressed
    color:"#2f3343";
    background-color:"#dee1e8";
    border:1px solid "#9d9fa0";
}

SizeButton[forTip='thickness']:checked{
    color:"#2f3343";
    background-color:"#dee1e8";
    border:1px solid "#9d9fa0";
}

/*QPushButton#cancelBtn {
    color:"#ff403a";
}

QPushButton#saveBtn {
    color:"#1fb41e";
}*/



