
#ZTPreview {
    background-color: transparent;
    color: #1B1F28;
    font-size: 13px;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

#imgview {
    background-color: #F5F5F5;
    border: 1px solid rgba(215,219,222,1);
    padding: 5px 5px 5px 5px;
}

#labelSeparation {
    background-color: transparent;
    border: 0px;
}

#listView {
    background-color: #FFFFFF;
    border: 0px;

    font-family: Microsoft YaHei;
    font-size: 16px;
}

#listView::item {
    background-color: transparent;
    height: 40px;
    color: black;
}

#listView::item:hover {
    background-color: transparent;
    color: #747DEF;
}

#listView::item:selected {
    padding: 0px;
    margin: 0px;
    border: 0px;

    background-color: transparent;
    color: #747DEF;
}
