
#ZTPreview {
    background-color: transparent;
    color: #1B1F28;
    font-size: 13px;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

#imgview {
    background-color: #F5F5F5;
    border: 1px solid rgba(215,219,222,1);
    padding: 5px 5px 5px 5px;
}

#labelSeparation {
    background-color: gray;
    border: 0px;
}

#btnDemand {
    background-color: #FFFFFF;
    border: 1px solid rgba(215,219,222,1);
    border-radius: 4px;
}

#btnBug {
    background-color: #F5F5F5;
    border: 1px solid rgba(215,219,222,1);
    border-radius: 4px;
}

#btnOkay {
    border: 1px solid rgba(116,125,255,1);
    border-radius: 4px;
}

#btnCancel {
    border: 1px solid rgba(215,219,222,1);
    border-radius: 4px;
}

#listView {
    background-color: #FFFFFF;
    border: 0px;
}