
#ZTPreview {
    background-color: transparent;
    color: #1B1F28;
    font-size: 13px;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

#imgview {
    background-color: #F5F5F5;
    border: 1px solid rgba(215,219,222,1);
    padding: 5px 5px 5px 5px;
}

#labelSeparation {
    background-color: gray;
    border: 0px;
}

#btnDemand {
    background-color: transparent;
    font-family: Microsoft YaHei;
    font-size: 14px;
    color: #3C4353;
    font-weight: 400;

    padding-left: 35px;

    background-image: url(:/images/demand-uncheck.png);
    background-repeat: no-repeat;
}

#btnDemand:checked {
    background-image: url(:/images/demand-check.png);
}

#btnBug {
    background-color: transparent;

    font-family: Microsoft YaHei;
    font-size: 14px;
    color: #3C4353;
    font-weight: 400;

    padding-left: 35px;

    background-image: url(:/images/bug-uncheck.png);
    background-repeat: no-repeat;
}

#btnBug:checked {
    background-image: url(:/images/bug-check.png);
}

#listView {
    background-color: #FFFFFF;
    border: 0px;
}
