
#ZTSettingDlg {
    background-color: #ffffff;
    color: #1B1F28;
    font-size: 13px;
    width: 740px;
    height: 488px;
    min-width: 740px;
    min-height: 488px;
    max-width: 740px;
    max-height: 488px;
}
